
nav {
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-left: 2px solid #C1C1C1
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

nav ul li a:hover{
    background-color: #FFC704;
}
nav ul li.selected a {
    background-color: #FFC704;
}

.navbar{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 90px;
}

h2{
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.fondo{
    width: 100%;
    height: 300px;
    z-index: -1;
}

.redes{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.redes ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.redes ul li{
    float: left;
    
}

.redes ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.redes ul li a i{
    color: #C1C1C1;
    font-size: 25px;
}

.redes ul li a i:hover{
    cursor: pointer;
}

.contenedorHead{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-image: url('./img/image3.png');
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    align-items: center;
}

.linea{
    width: 5%;
    border-top: 5px solid yellow; 
    margin-top: -10px;
    margin-bottom: 10px;
}

.contenedorBody{
    background-color: #A0ACB8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px;
}

.unitaxi{
    display: flex;
    flex-direction: column;
    height: 481px;
    width: 350px;
    background-image: url('./img/unitaxi.png');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  
}

.legal{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 297px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/legal.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.medicina{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 297px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/medicina.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.lubricadora{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 297px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/lubricadora.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    font-size: 25px;
}

.odonto{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 297px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/odontologia.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    padding-top: 20px;
    font-size: 25px;
    color: #fff;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerHistoria{
    background-color: white;
    height: 300px;
    text-align: center;
}

.historia{
    margin-top: 70px;
    color:black;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 25px;
}


.descripcionHistoria{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal; 
    font-size: 20px;
    text-align: justify;
    width: 1042px;
    margin-left: 370px;
    margin-top: 40px;
}

.contenedorObjects{
    display: flex;
    
}

.mision{
    background-color: rgba(160, 172, 184, 0.4);
    width: 900px;
    height: 200px;
}

.vision{
    background-color:rgba(160, 172, 184, 0.7) ;
    width: 900px;
    height: 200px;
}

.titleCard{
    font-family: 'Nunito', sans-serif; /* Tipo de letra Nunito */
    font-weight: bold; /* Texto en negrita */
    font-size: 30px; 
    margin-top: 25px;
    color: black;
}

.descriptionCard{
    text-align: justify;
    font-family: 'Nunito', sans-serif; /* Tipo de letra Nunito */
    font-weight: normal; /* Texto en negrita */
    font-size: 18px; 
    width: 400px;
    margin-left: 240px;
    margin-top: 10px;
}